<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}
    {% if site.facebook.username %}
      <li><a href="https://www.facebook.com/{{ site.facebook.username }}"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
    {% endif %}
    {% if site.github.username %}
      <li><a href="https://github.com/{{ site.github.username }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.youtube.url %}
      <li><a href="{{ site.youtube.url }}"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a></li>
    {% endif %}
    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
  </ul>

  <ul>
    <li><a href="{{ '/o-mnie/' | absolute_url}}">O mnie</a></li>
    <li><a href="{{ '/o-blogu/' | absolute_url}}">O blogu</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</div>
